body {background-color: #000000;}
h1 {font-size: 70px; font-family: fantasy; color:red; background-color: white; font-weight: 1000;}
#f1 {color:blue; font-family: verdana; font-size: 50px;}
.f2 {color:green; font-family: verdana; font-size: 50px;}
b {font-size: 30px; color: #06FF00;}